/SRC/HELP.md
/SRC/target/
!**/src/main/**
!**/src/test/**

### STS ###
/SRC/.apt_generated
/SRC/.classpath
/SRC/.factorypath
/SRC/.project
/SRC/.settings
/SRC/.springBeans
/SRC/.sts4-cache

### IntelliJ IDEA ###
/SRC/.idea
/SRC/*.iws
/SRC/*.iml
/SRC/*.ipr

### NetBeans ###
/SRC/nbproject/private/
/SRC/nbbuild/
/SRC/dist/
/SRC/nbdist/
/SRC/.nb-gradle/
/SRC/build/

### VS Code ###
/SRC/.vscode/

### KGY ###
/SRC/nbactions.xml
/SRC/tomcat/
/SRC/unpackage/dist/