/SOURCE/target/
!/SOURCE/.mvn/wrapper/maven-wrapper.jar

### STS ###
/SOURCE/.apt_generated
/SOURCE/.classpath
/SOURCE/.factorypath
/SOURCE/.project
/SOURCE/.settings
/SOURCE/.springBeans
/SOURCE/.sts4-cache

### IntelliJ IDEA ###
/SOURCE/.idea
/SOURCE/*.iws
/SOURCE/*.iml
/SOURCE/*.ipr

### NetBeans ###
/SOURCE/nbproject/private/
/SOURCE/build/
/SOURCE/nbbuild/
/SOURCE/dist/
/SOURCE/nbdist/
/SOURCE/.nb-gradle/

### KGY ###
/SOURCE/src/main/java/test/
